<%- include('header', {title: 'Advertised Services'}); -%>

<main class="container">
    <h2>Your advertised service(s)</h2>
    <% if (results.length == 0) { %>
    <div class="">No result found.</div>
    <% } else { %>
      <table class="table table-borderless table-hover">
        <thead class="thead-light" >
          <th>Service Type</th>
          <th>Price (SGD)</th>
          <th>Start date</th>
          <th>End date</th>
          <th></th>
        </thead>
        <tbody>
          <% for (const row of results) { %>
          <tr>
            <td><%= serviceTypes[row.servicetype - 1].name %></td>
            <td><%= row.price %></td>
            <td><%= row.datestart.toLocaleDateString() %></td>
            <td><%= row.dateend.toLocaleDateString() %></td>
            <td>
              <form action="/advertiseService/deleteService" method="POST">
                <button type="submit" class="btn btn-danger" name="delete" value="<%= row.sid %>">
                  Delete
                </button>
              </form>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
    <% } %>



</main>
<%- include('footer'); -%>