<%- include('header', {title: 'AdvertisedRequestService'}); -%>

<main class="col-md-8 px-4">
  <h2>Your advertised requests/services</h2>
  <% if (results.length == 0) { %>
    <div class="">No result found.</div>
  <% } else { %>
    <div class="table-responsive">
      <table class="table-striped">
        <thead>
        <th>Name</th>
        <th>Service Type</th>
        <th>Price (SGD)</th>
        <th>Start date</th>
        <th>End date</th>
        </thead>
        <tbody>
        <% for (const row of results) { %>
          <tr>
            <td><%= row.name %></td>
            <td><%= row.serviceType %></td>
            <td><%= row.price %></td>
            <td><%= row.dateStart %></td>
            <td><%= row.dateEnd %></td>
          </tr>
        <% } %>
        </tbody>
      </table>
    </div>
  <% } %>

</main>

<%- include('footer'); -%>