<%- include('header', {title: 'Profile'}); -%>

<main class="container">

  <% if (message.length > 0) { %>
  <div class="alert alert-danger"><%= message %></div>
  <% } else { %>
  <section>
    <p>Name: <%= displayedUser.name %></p>
    <p>Username: <%= displayedUser.username %></p>
    <p>Phone: <%= displayedUser.phone %></p>
    <p>Email: <%= displayedUser.email %></p>
  </section>
  <% } %>

</main>

<%- include('footer'); -%>
