<%- include('header', {title: 'Profile'}); -%>

<main class="container">

  <% if (displayedUser === null) { %>
  <div class="alert alert-danger">Profile not found.</div>
  <% } else { %>
    <div class="text-center">
      <img src="images/placeholder.png" class="rounded-circle" style="width:250px;height:200px;" >
        </br>
        </br>
        <%if (true) {%>
        <!-- if petOwner -->
        <a role = "button" class="btn disabled btn-primary">PetOwner</a>
        <% } else {%>
        <!-- if caretaker -->
        <a role = "button" class="btn disabled btn-danger">CareTaker</a>
        <%}%>
        </br>
        </br>
        <div>
          <p>Name: <%= displayedUser.name %></p>
          <p>Username: <%= displayedUser.username %></p>
          <p>Phone: <%= displayedUser.phone %></p>
          <p>Email: <%= displayedUser.email %></p>

            <%if(true) {%>
            <!-- if owner of profile -->
            <a role = "button" class="btn disable btn-info" onclick="location.href='/profile/edit';">Edit your profile</a>
            <%}%>
            <%if(true) {%>
            <!-- if petOwner -->
            <a role = "button" class="btn disable btn-success" onclick="location.href='/displayPets';">show/add your pets!</a>
            <%}%>

        </div>
    </div>


  <% } %>

</main>

<%- include('footer'); -%>
