<%- include('header', {title: 'Profile'}); -%>

<main class="container" style="text-align: center;">

  <% if (displayedUser === null) { %>
  <div class="alert alert-danger">Profile not found.</div>
  <% } else { %>
  <div class="profile-container">
    <figure class="figure mx-auto my-3">
      <% if (displayedUser.isPetOwner) { %>
      <!--if petowner-->
      <img src="images/petowner.png" class="figure-img rounded-circle" style=" object-fit: cover;
        height: 300px;width: 300px;">
      <% } else { %>
      <!--if caretaker-->
      <img src="images/caretaker.png" class="figure-img rounded-circle" style=" object-fit: cover;
        height: 300px;width: 300px;">
      <% } %>
    </figure>

    <p>
      Name: <%= displayedUser.name %>
      <span class="badge badge-primary">
        <% if (displayedUser.isPetOwner) { %>
        Pet Owner
        <% } else { %>
        Care Taker
        <% } %>
      </span>
    </p>
    <p>Phone: <%= displayedUser.phone %></p>
    <p>Email: <%= displayedUser.email %></p>

    <% if (user.aid == displayedUser.aid) { %>
    <% if (displayedUser.isPetOwner) { %>
    <!-- Button trigger modal -->
    <p>
      <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#setUpRequest">
        Create a new request
      </button>
      <a role="button" class="btn btn-warning" href="/advertisedRequest">View submitted requests</a>
    </p>

    <!-- Modal -->
    <div class="modal fade" id="setUpRequest" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Set up a request!</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form id="createRequestForm" data-modal="setUpRequest">
              <div class="form-group">
                <label>Pet</label>
                <select class="form-control" name="petName" required>
                  <% for (const pet of pets) { %>
                  <option value="<%= pet.name %>"><%= pet.name %></option>
                  <% } %>
                </select>
              </div>
              <div class="form-group">
                <label>Service type</label>
                <select class="form-control" name="serviceType" required>
                  <% for (const row of serviceTypes) { %>
                  <option value="<%= row.servicetype %>"><%= row.name %></option>
                  <% } %>
                </select>
              </div>
              <div class="form-group">
                <label>Maxmimum price you are willing pay (SGD)</label>
                <input type="number" class="form-control" name="maxPrice" min="0" required>
              </div>
              <div class="form-group">
                <label>Start Date</label>
                <input class="form-control" type="date" name="dateStart" required>
              </div>
              <div class="form-group">
                <label>End Date</label>
                <input class="form-control" type="date" name="dateEnd" required>
              </div>
              <input type="submit" class="btn btn-primary" value="Submit request">
            </form>
          </div>
        </div>
      </div>
    </div>
    <p>
      <a role="button" class="btn btn-danger" href="/service">Search services</a>
      <a role="button" class="btn btn-danger" href="/petownerRecords">See previous accepted services</a>
    </p>

    <p>
      <a role="button" class="btn btn-success" href="/profile/pets">Manage pets</a>
    <p>
    <% } else { %>
    <!-- if caretaker -->

    <p>
      <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#setUpService">
        Create a new service
      </button>
      <a role="button" class="btn btn-warning" href="/advertisedService">
        View advertised services</a>
    </p>

    <!-- Modal -->
    <div class="modal fade" id="setUpService" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Create service</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form id="createServiceForm" data-modal="setUpService">
              <div class="form-group">
                <label>Service type</label>
                <select class="form-control" name="serviceType" required>
                  <% for (const row of serviceTypes) { %>
                  <option value="<%= row.servicetype %>"><%= row.name %></option>
                  <% } %>
                </select>
              </div>
              <div class="form-group">
                <label>Price (SGD)</label>
                <input type="number" class="form-control" name="price" min="0" required>
              </div>
              <div class="form-group">
                <label>Start Date</label>
                <input class="form-control" type="date" name="dateStart" required>
              </div>
              <div class="form-group">
                <label>End Date</label>
                <input class="form-control" type="date" name="dateEnd" required>
              </div>
              <input type="submit" class="btn btn-primary" value="Submit service">
            </form>
          </div>
        </div>
      </div>
    </div>

    <p>
      <a role="button" class="btn btn-danger" href="/requests">Search for requests </a>
      <a role="button" class="btn btn-danger" href='/caretakerRecords'>See previous accepted requests</a>
    </p>
    <!-- end of care taker-->
    <% } %>
    <p>
      <a role="button" class="btn btn-info" href="/profile/edit">Edit your profile</a>
    </p>

    <!-- end of authenticated user -->
    <% } %>

  </div>

  <% } %>

</main>

<div id="toast-center"></div>

<template id="toast-tpl">
  <div class="toast-body">
    <span class="toast-msg"></span>
    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
  </div>
</template>

<script src="/js/toast.js"></script>
<script>
  (function () {
    const requestForm = document.querySelector('#createRequestForm');
    if (requestForm !== null) {
      requestForm.addEventListener('submit', async (e) => {
        e.preventDefault();
        const formData = new FormData(e.target);
        const res = await fetch('/api/requests/create', {
          method: "POST",
          body: formData,
        });
        const json = await res.json();
        if (json.success) {
          createSuccessToast('Success!').toast('show');
        } else {
          createErrorToast(json.error).toast('show');
        }
        const modal = document.getElementById(e.target.dataset.modal);
        $(modal).modal('hide');
      });
    }
    const serviceForm = document.querySelector('#createServiceForm');
    if (serviceForm !== null) {
      serviceForm.addEventListener('submit', async (e) => {
        e.preventDefault();
        const formData = new FormData(e.target);
        const res = await fetch('/api/service/create', {
          method: "POST",
          body: formData,
        });
        const json = await res.json();
        if (json.success) {
          createSuccessToast('Success!').toast('show');
        } else {
          createErrorToast(json.error).toast('show');
        }
        const modal = document.getElementById(e.target.dataset.modal);
        $(modal).modal('hide');
      });
    }
  })();
</script>

<%- include('footer'); -%>