<%- include('header', {title: 'Profile'}); -%>

<main class="container">

  <% if (displayedUser === null) { %>
  <div class="alert alert-danger">Profile not found.</div>
  <% } else { %>
    <div class="text-center">
      <img src="images/placeholder.png" class="rounded-circle" style="width:250px;height:200px;" >
        <br>
        <p>Name: <%= displayedUser.name %></p>
        <%if (true) {%>
        <!-- if petOwner -->
        <a role = "button" class="btn disabled btn-primary">PetOwner</a>
        <br>
        <br>

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#setUpRequest">
            Set up a Request!
        </button>

        <!-- Modal -->
        <div class="modal fade" id="setUpRequest" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Set up a request!</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        insert the forms for setting up a request here: ie: what pet: what service. how long
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
        <a role = "button" class="btn btn-warning" onclick="location.href='/profile/edit';">See your advertised requests</a>
        <br>
        <br>
        <a role = "button" class="btn btn-danger" onclick="location.href='/profile/edit';">Search for a service</a>
        <% } else {%>
        <!-- if caretaker -->
        <a role = "button" class="btn disabled btn-danger">CareTaker</a>
        <br>
        <br>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#setUpRequest">
            Set up a service!
        </button>

        <!-- Modal -->
        <div class="modal fade" id="setUpRequest" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Set up a request!</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        insert the forms for setting up a service here: ie: what pet: what service. how long
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
        <a role = "button" class="btn btn-warning" onclick="location.href='/profile/edit';">See your advertised services</a>
        <br>
        <br>
        <a role = "button" class="btn btn-danger" onclick="location.href='/profile/edit';">Search for a job</a>
        <%}%>
        <br>
        <br>
        <div>

          <p>Username: <%= displayedUser.username %></p>
          <p>Phone: <%= displayedUser.phone %></p>
          <p>Email: <%= displayedUser.email %></p>

            <%if(true) {%>
            <!-- if owner of profile -->
            <a role = "button" class="btn btn-info" onclick="location.href='/profile/edit';">Edit your profile</a>
            <%}%>
            <%if(true) {%>
            <!-- if petOwner -->
            <a role = "button" class="btn btn-success" onclick="location.href='/displayPets';">show/add your pets!</a>
            <%}%>

        </div>
    </div>


  <% } %>

</main>

<%- include('footer'); -%>
